## Quiz 2

For this quiz there are going to be 5 questions, each has its points value next to its name (totalling 7)  

Don't fret though, remember that in this class all quizzes are extra credit, so getting a 0 is not going to have a negative impact on your grade.

### Question 1

**1 point**

What operator (replacing the ?) in python completes the below expression

In [1]:
# Solution
29 // 8 == 3

True

### Question 2

**1 point**

Create a unique set without using the `set()` function.  The set should contain all numbers from 1 to 5.

In [9]:
# Solution
{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

### Question 3

**1 points**

Given the list `x` containing `[3, 4, 5, 2, 3, 7, 7, 2, 3, 9, 8]` return a slice containing all `3`'s

In [23]:
x = [3, 4, 5, 2, 3, 7, 7, 2, 3, 9, 8]

# Solution
x[::4]

[3, 3, 3]

### Question 4

**2 points**

Write a loop that iterates over all the entries in a dictionary named `nums` and prints the value if the key is divisible by 2

In [31]:
nums = {2: 'a', 3: 'b', 4: 'c', 6: 'd', 8: 'q', 9: 'z'}

# Solution
for k, v in nums.items():
    if k % 2 == 0:
        print(v)
        
## This answer is worth 1 point
for k in nums:
    if k % 2 == 0:
        print(nums[k])

## This answer is worth full points
[v for k, v in nums.items() if k % 2 == 0]

a
c
d
q

['a', 'c', 'd', 'q']

### Question 5

**2 points**

Given a list `names` and a tuple `ages` create a list containing the pairs of each entry in the idiomatic pythonic style.

In [35]:
names = ['Me', 'Theirs', 'Yours']
ages = (10, 20, 30)

# Solution
print(list(zip(names, ages)))

## This is worth one
[(n, a) for n in names for a in ages]

[('Me', 10), ('Theirs', 20), ('Yours', 30)]

[('Me', 10),
 ('Me', 20),
 ('Me', 30),
 ('Theirs', 10),
 ('Theirs', 20),
 ('Theirs', 30),
 ('Yours', 10),
 ('Yours', 20),
 ('Yours', 30)]